*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, footer{
    background-color: #483D8B;
}
#logo{
    width: 250px;
    height: 250px;
}
.elemHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#menu{
    display: flex;
    justify-content: center;
}
#menu li{
    margin-right: 10rem;
    list-style: none;
    color: #FFF;
    font-size: x-large;
    font-variant: small-caps;
}
#menu li a{
    color: #FFF;
    text-decoration: none;
    padding: 8px;
}
#menu li a:hover{
    background-color: #1e0f24;
}
h1{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-variant: small-caps;
}
#psicologo{
    width: 360px;
    height: 360px;
}
.elemFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.midiasSociais i{
    color: #FFF;
    margin-right: 10px;
    font-size: xx-large;
    background-color: #1e0f24;
    padding: 10px;
    border-radius: 50%;
}