*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, footer{
    background-color: #483D8B;
}
main{
    background-color: #f7f7f7;
}
#logo{
    width: 200px;
    height: 200px;
}
.elemHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#menu{
    display: flex;
    justify-content: center;
}
#menu li{
    margin-right: 10rem;
    list-style: none;
    color: #FFF;
    font-size: x-large;
    font-variant: small-caps;
}
#menu li a{
    color: #FFF;
    text-decoration: none;
    padding: 8px;
}
#menu li a:hover{
    background-color: #1e0f24;
}
h1{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-variant: small-caps;
}
.infosPsic{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
}
#psicologo{
    width: 360px;
    height: 360px;
    
}
.elemFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#copyright{
    color: #FFF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-variant: small-caps;
    font-size: large;
}
.midiasSociais i{
    color: #FFF;
    margin-right: 10px;
    font-size: xx-large;
    background-color: #1e0f24;
    padding: 10px;
    border-radius: 50%;
}