/* Gerais */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, footer{
    background-color: #483D8B;
}
#logo{
    width: 200px;
    height: 200px;
}
body::-webkit-scrollbar{
    width: 1.2em;
}
body::-webkit-scrollbar-track{
    background-color: #1e0f24;
}
body::-webkit-scrollbar-thumb{
    background-color: #d0c3f1;
    border-radius: 10px;
}

/* Style cabeçalho */
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.temaEscuro i, .temaClaro i{
    color: #FFF;
    font-size: xx-large;
}
header i{
    font-size: xx-large;
    color: #FFF;
    cursor: pointer;
}
#menu{
    display: flex;
    justify-content: center;
}
#menu li{
    margin-right: 7rem;
    list-style: none;
    color: #FFF;
    font-size: x-large;
    font-variant: small-caps;
}
#menu li a{
    color: #FFF;
    text-decoration: none;
    padding: 8px;
}
#menu li a:hover{
    background-color: #1e0f24;
    transition: all 0.8s;
}

/* Style corpo */
#logo-SobreNos{
    width: 384.615384615px;
    height: 384.615384615px;
    border: 3px solid #171a21;
}
.psicologos, .sobreNos, .techPsique{
    margin-bottom: 2em;
}
.psicologos{
    margin-top: 2em;
}
h1{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-variant: small-caps;
    letter-spacing: -0.02em;
}
p{
    font-family: 'Signika Negative', sans-serif;
}
.infosPsic{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}
.psicologos .container > .infosPsic:last-child, #btn-Menos{
    display: none;
} 
#imgPsic{
    width: 360px;
    height: 360px;
    border-radius: 1em;
}
#btn-Mais, #btn-Menos{
    padding: 10px;
    border: 2px solid #1e0f24;
    position: relative;
    left: 28cm;
    border-radius: 2em;
    background-color: #483D8B;
    color: #FFF;
    font-family: monospace;
    text-shadow: 1px 3px 3px #000;
    letter-spacing: -0.02em;
    font-size: larger;
}
.sobreNos h1{
    text-align: start;
}
#descricao{
    font-size: larger;
    letter-spacing: -0.02em;
    text-align: justify;
}

/* Style rodapé */
.rodape{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#copyright{
    color: #FFF;
    font-variant: small-caps;
    font-size: large;
}
.midiasSociais i{
    color: #FFF;
    margin-right: 10px;
    font-size: xx-large;
    background-color: #1e0f24;
    padding: 10px;
    border-radius: 50%;
}